<Application
        x:Class="AndroidApp1.App" xmlns:x="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty">
    <Application.Resources>
        <Color x:Key="PrimaryGreen">#4CAF50</Color>
        <Style TargetType="Button">
            <Setter Property="BackgroundColor" Value="{StaticResource PrimaryGreen}"/>
            <Setter Property="TextColor" Value="White"/>
            <Setter Property="CornerRadius" Value="20"/>
            <Setter Property="HorizontalOptions" Value="Center"/>
            <Setter Property="Margin" Value="10,0"/>
        </Style>
        <Style TargetType="Label">
            <Setter Property="TextColor" Value="#333333"/>
            <Setter Property="FontSize" Value="16"/>
        </Style>
    </Application.Resources>
</Application>
